@font-face {
    font-family: 'TT Lakes';
    src: url('fonts/TTLakes-Bold.eot');
    src: local('TT Lakes Bold'), local('TTLakes-Bold'),
        url('fonts/TTLakes-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/TTLakes-Bold.woff') format('woff'),
        url('fonts/TTLakes-Bold.ttf') format('truetype');
    font-weight: 600;
    font-style: bold;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('fonts/TTLakes-Medium.eot');
    src: local('TT Lakes Medium'), local('TTLakes-Medium'),
        url('fonts/TTLakes-Medium.eot?#iefix') format('embedded-opentype'),
        url('fonts/TTLakes-Medium.woff') format('woff'),
        url('fonts/TTLakes-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: medium;
}

* {
    padding: 0;
    margin: 0;
    border: 0;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    width: 320px;
    height: 100%;
    position: fixed;
    background-color: #F8F8F8;
    font-family: 'TT Lakes';
    font-style: medium;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #1B1C21;
}

.upper-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 23px 24px;
}

.upper-menu li:first-child {
    flex-basis: 56px;
}

.upper-menu li:last-child {
    margin-left: auto;
}

.main-menu {
    width: 222px;
}

.main-menu a {
    display: block;
    margin-bottom: 32px;
    padding-left: 24px;
    white-space: nowrap;
}

.main-menu a:hover {
    opacity: 0.5;
    transition: opacity 0.2s;
}

.main-menu li:hover::before {
    content: "";
    position: absolute;
    background-color: #41F6D7;
    z-index: 1;
    width: 4px;
    height: 32px;
    border-top-right-radius: 45%;
    border-bottom-right-radius: 45%;
}

.contacts {
    padding-left: 24px;
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 96px;
}

.contacts ul {
    margin-bottom: 16px;
}

.contacts_items li {
    display: inline;
    margin-right: 16px;
}

.contacts .email {
    margin-bottom: 12px;
}

.contacts .phone {
    font-size: 24px;
    line-height: 32px;
    font-style: Bold;
}

.leng {
    position: absolute;
    bottom: 32px;
    left: 24px;
}

.leng span:first-child {
    opacity: 0.5;
}