@font-face {
    font-family: 'TT Lakes';
    src: url('fonts/TTLakes-Bold.eot');
    src: local('TT Lakes Bold'), local('TTLakes-Bold'),
        url('fonts/TTLakes-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/TTLakes-Bold.woff') format('woff'),
        url('fonts/TTLakes-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'TT Lakes';
    src: url('fonts/TTLakes-Medium.eot');
    src: local('TT Lakes Medium'), local('TTLakes-Medium'),
        url('fonts/TTLakes-Medium.eot?#iefix') format('embedded-opentype'),
        url('fonts/TTLakes-Medium.woff') format('woff'),
        url('fonts/TTLakes-Medium.ttf') format('truetype');
}

* {
    padding: 0;
    margin: 0;
    border: 0;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
}
body{
    font-family: 'TT Lakes';
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #1B1C21;
}
.container{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 320px;
    padding: 24px 24px 32px;
    height: 940px;
    position: fixed;
    background-color: #F8F8F8;
    box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);
}
.side-menu{
    display: flex;
    flex-direction: column;
    gap: 46px;
    
}
.upper-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.upper-menu__burger-logo{
    display: flex;
    align-items: center;
    gap: 16px;
}
.logo-link{
    display: flex;
}
.icon{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #FF3E79;
}

.main-menu {
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.main-menu__link{
    color: #1B1C21;
}

.icon-link:hover,
.main-menu__link:hover,
.lang__link:hover {
    opacity: 0.5;
    transition: opacity 0.2s;
}

.main-menu__item:hover::before {
    content: "";
    margin-right: 20px;
    border-left: 4px solid #41F6D7;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}
.main-menu__item:hover{
    margin-left: -24px;
}
.contacts{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.contacts__items {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.icon-items {
    display: flex;
    align-items: center;
    gap: 16px;
}

.phone {
    width: max-content;
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
    color: #1B1C21;
}
.email{
    width: max-content;
    color: #1B1C21;
}

.leng {
    display: flex;
    align-items: flex-start;
    gap: 7px;
    
}
.lang__link{
    color: #1B1C21;
}
