@font-face {
    font-family: 'TT Lakes';
    src: url('fonts/TTLakes-Bold.eot');
    src: local('TT Lakes Bold'), local('TTLakes-Bold'),
        url('fonts/TTLakes-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/TTLakes-Bold.woff') format('woff'),
        url('fonts/TTLakes-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'TT Lakes';
    src: url('fonts/TTLakes-Regular.eot');
    src: local('TT Lakes Regular'), local('TTLakes-Regular'),
        url('fonts/TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/TTLakes-Regular.woff') format('woff'),
        url('fonts/TTLakes-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'TT Lakes';
    src: url('fonts/TTLakes-Medium.eot');
    src: local('TT Lakes Medium'), local('TTLakes-Medium'),
        url('fonts/TTLakes-Medium.eot?#iefix') format('embedded-opentype'),
        url('fonts/TTLakes-Medium.woff') format('woff'),
        url('fonts/TTLakes-Medium.ttf') format('truetype');
}
* {
    padding: 0;
    margin: 0;
    border: 0;
}
ul li {list-style: none;}
a{
    text-decoration: none;
    color: inherit;
}

body {
    height: 100%;
    font-family: 'TT Lakes';
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    color: #1B1C21;
    background: #F2F2F2;
}
.content{
    width: 768px;
    margin: 0 auto;
}
header {
    background-color: #fff;
    padding: 0 24px;
    height: 88px;
}
.upper-menu {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}
.upper-menu__item:not(:last-child)
 {
    flex-basis: 56px;
}

.upper-menu li:nth-child(2) {
    flex-grow: 1;
    flex-basis: 0;
}

.upper-menu li:nth-child(6),
.upper-menu li:nth-child(2) {
    padding-left: 18px;
    border-left: 2px solid #EAEAEA;
}


.container{
    padding: 24px;
    background-color: #F8F8F8;
}
h1 { 
    margin: 0 -24px;
    padding-left: 20px;  
    font-family: 'TT Lakes';
    font-weight: 600;
    font-size: 28px;
    line-height: 40px;
    white-space: nowrap;
    color: #1B1C21;
    border-left: 4px solid #41F6D7;
}
.title__menu{
    display: none;
}
.side-menu {
    margin: 32px 0;
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
}
.side-menu__item {
    font-family: 'TT Lakes';
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #7E7E82;
    text-decoration: none;
    padding: 8px 16px;
}

.side-menu__item:hover {
    padding: 6px 14px;
    background-color: #FFFFFF;
    border: 2px solid #B8FFEC;
    border-radius: 6px;
}


section {
    display: flex;
    flex-wrap: nowrap;
    align-items: start;
    justify-content: flex-start;
}
.block-text {
    flex-grow: 1;
    
}
.info__text {
    width: 312px;
    height: 160px;
    overflow: hidden;
}
.info__text-item {
    margin-bottom: 20px;
}
.info__img {
    width: 360px;
    height: 208px;
    border-radius: 6px;
}
.info__button {
    margin-top: 10px;
    font-family: 'TT Lakes';
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
}
.info__button span{
    flex-grow: 1;
}

@media (min-width: 320px) and (max-width: 767px) {
    .content{
        width: 320px;
        margin: 0 auto;
    }
    header {
        padding: 0 16px;
    }
    .container{
        padding: 24px 16px;
    }
    .upper-menu li:nth-child(2) {
        padding-left: 0;
        border-left: none;
    }

    .upper-menu li:nth-child(3) {
        padding-right: 20px;
        border-right: 3px solid #EAEAEA;
        border-radius: 1px;
        flex-grow: 0;
    }
    .upper-menu li:nth-child(3),
    .upper-menu li:nth-child(4),
    .upper-menu li:nth-child(5) {
        display: none;
    }
    h1{
        margin: 0 -16px;
    }
    .side-menu {
        overflow: scroll;
        margin: 24px 0;
    }
    .side-menu::-webkit-scrollbar { width: 0; }
    section {
        display: block;
    }
    .info__text {
        height: 120px;
        width: 288px;
        overflow: hidden;
    }
    .block-text {
        margin-bottom: 16px;
    }
    .info__img {
        margin: 0 -16px;
        width: 320px;
        height: 176px;
    }
}

@media (min-width: 1120px) {
    .content{
        width: 1120px;
        margin: 0 auto;  
    }
    
    header {
        display: none;
    }
    .container{
        padding: 42px 32px;
    }
    .title{
        display: flex;
    }
    h1{
        flex: auto;
        margin: 0 -32px;
    }
    .title__menu{
        display: flex;
        justify-content: flex-end;
        flex: auto;
    }
    .title__menu a:first-child{
        flex-basis: 205px;
    }
    .title__link{
        display: flex;
        align-items: center;
    }
    .title__link span{
        padding-right: 8px;
        font-size: 16px;
        line-height: 24px;
        font-weight: 500;
        color: #1B1C21;
        white-space: nowrap;
    }

    .side-menu {
        flex-wrap: wrap;
    }
    section {
        flex-wrap: nowrap;
    }
    .info__text {
        height: 180px;
        width: 490px;
        overflow: hidden;
    }
    .block-text {
        margin-right: 36px;
    }
    .info__img {
        width: 530px;
        height: 307px;
    }
}