@font-face {
    font-family: 'TT Lakes';
    src: url('/fonts/TTLakes-Regular.eot');
    src: local('TT Lakes Regular'), local('TTLakes-Regular'),
        url('/fonts/TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
        url('/fonts/TTLakes-Regular.woff') format('woff'),
        url('/fonts/TTLakes-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'TT Lakes';
    src: url('/fonts/TTLakes-Medium.eot');
    src: local('TT Lakes Medium'), local('TTLakes-Medium'),
        url('/fonts/TTLakes-Medium.eot?#iefix') format('embedded-opentype'),
        url('/fonts/TTLakes-Medium.woff') format('woff'),
        url('/fonts/TTLakes-Medium.ttf') format('truetype');
}
* {
    padding: 0;
    margin: 0;
    border: 0;
}
ul li {list-style: none;}
a{
    text-decoration: none;
    color: inherit;
}
.content{
    box-sizing: border-box;
    width: 320px;
    margin: 0 auto;
}
.title {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    background: linear-gradient(90deg, #F8F8F8 1.39%, #FFFFFF 100%);
    height: 80px;
    padding: 16px;
    font-family: 'TT Lakes';
    font-size: 16px;
    line-height: 32px;
    color: #7E7E82;
    font-weight: normal;
    text-transform: uppercase;
}
.brands{
    position: relative;
    padding: 16px 0 38px 16px;
    background: #F2F2F2;
    overflow: hidden;
}
.swiper-slide{
    box-sizing: border-box;
    width: 240px;
    height: 72px;
    display: flex;
    padding: 0 16px;
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    border-radius: 6px;
}

.swiper-pagination-bullet{
    height: 12px;
    width: 12px;
}
.swiper-pagination-bullet-active{
    background-color: #B5B6BC;
}
button{
    display: none;
}
.swiper-slide__link{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.swiper-slide_image-button{
    position: relative;
    justify-self: end;
    height: 40px;
    width: 40px;
    border: 2px solid #FF3E79;
    border-radius: 50%;
}
.swiper-slide_image-button::before{
    content: "";
    position: absolute;
    width: 2px;
    height: 8px;
    right: 17px;
    top: 14px;
    background-color: #FF3E79;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    transform: rotate(135deg);
}
.swiper-slide_image-button::after{
    content: "";
    position: absolute;
    width: 2px;
    height: 8px;
    right: 17px;
    bottom: 14px;
    background-color: #FF3E79;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    transform: rotate(45deg);
}

@media (min-width: 768px) and (max-width: 1119px) {
    .content{
        width:768px;
    }
    .title {
        padding: 0 24px;
        background: linear-gradient(90deg, #F8F8F8 1.39%, #FFFFFF 100%);
        height: 56px;
    }
    .brands{
        padding: 24px;
        overflow: visible;
        height: auto;
    }
    .swiper-container{
        padding-bottom: 24px;
    }
    .swiper-wrapper{
        display: grid;
        grid-template-columns: repeat(3, 224px);
        grid-template-rows: repeat(2, 72px);
        grid-auto-rows: 72px;
        column-gap: 24px;
        row-gap: 16px;
    }
    .swiper-slide{
        width: auto;
        height: auto;
        display: grid;
        padding: 0 16px;
    }
    .slide--hidden{
        display: none;
        
    }
    .swiper-pagination{
        display: none;
    }
    button{
        display: block;
        position: relative;
        padding-left: 24px;
        font-family: 'TT Lakes';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
    }
    
    button::before{
        content: "";
        position: absolute;
        left: 0px;
        top: 5px;
        width: 8px;
        height: 11px;
        background-image: url('images/button.svg');
    }
    
    .button--open::before{
        transform: rotate(180deg);
    }
}

@media (min-width: 1120px) {
    .content{
        width: 1120px;
    }
    .title {
        box-sizing: border-box;
        display: flex;
        align-items: center;
        background: linear-gradient(90deg, #F8F8F8 1.39%, #FFFFFF 100%);
        height: 56px;
        padding: 0 32px;
    }
    h1{
        display: flex;
        font-family: 'TT Lakes';
        font-size: 16px;
        line-height: 32px;
        color: #7E7E82;
        font-weight: normal;
        text-transform: uppercase;
    }
    .brands{
        padding: 24px 32px;
    }
    .swiper-container{
        padding-bottom: 24px;
    }
    .swiper-wrapper{
        display: grid;
        grid-template-columns: repeat(4, 240px);
        grid-template-rows: repeat(2, 72px);
        grid-auto-rows: 72px;
        column-gap: 32px;
        row-gap: 16px;
    }
    .swiper-slide{
        width: auto;
        height: auto;
        display: grid;
        padding: 0 16px;
    }
    
    .swiper-slide_image-button{
        position: relative;
        justify-self: end;
        height: 40px;
        width: 40px;
        border: 2px solid #FF3E79;
        border-radius: 50%;
    }
    .swiper-slide_image-button::before{
        content: "";
        position: absolute;
        width: 2px;
        height: 8px;
        right: 17px;
        top: 14px;
        background-color: #FF3E79;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
        transform: rotate(135deg);
    }
    .swiper-slide_image-button::after{
        content: "";
        position: absolute;
        width: 2px;
        height: 8px;
        right: 17px;
        bottom: 14px;
        background-color: #FF3E79;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
        transform: rotate(45deg);
    }
    
    .slide--hidden{
        display: none;
    }
    .swiper-pagination{
        display: none;
    }
    
    button{
        display: block;
        position: relative;
        padding-left: 24px;
        font-family: 'TT Lakes';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
    }
    
    button::before{
        content: "";
        position: absolute;
        left: 0px;
        top: 5px;
        width: 8px;
        height: 11px;
        background-image: url('images/button.svg');
    }
    
    .button--open::before{
        transform: rotate(180deg);
    }

}
/*.content{
    width: 1120px;
    margin: 0 auto;
}
.title {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    background: linear-gradient(90deg, #F8F8F8 1.39%, #FFFFFF 100%);
    height: 56px;
    padding: 0 32px;
}
h1{
    flex-grow: 1;
    font-family: 'TT Lakes';
    font-size: 16px;
    line-height: 32px;
    color: #7E7E82;
    font-weight: normal;
    text-transform: uppercase;
}
.brands{
    padding: 24px 32px;
    background: #F2F2F2;
}
.swiper-container{
    padding-bottom: 24px;
}
.swiper-wrapper{
    display: grid;
    grid-template-columns: repeat(4, 240px);
    grid-template-rows: repeat(2, 72px);
    grid-auto-rows: 72px;
    column-gap: 32px;
    row-gap: 16px;
}
.swiper-slide{
    width: auto;
    height: auto;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(1, auto);
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    border-radius: 6px;
    align-items: center;
    padding: 0 16px;
}

.swiper-slide_image-button{
    position: relative;
    justify-self: end;
    height: 40px;
    width: 40px;
    border: 2px solid #FF3E79;
    border-radius: 50%;
}
.swiper-slide_image-button::before{
    content: "";
    position: absolute;
    width: 2px;
    height: 8px;
    right: 17px;
    top: 14px;
    background-color: #FF3E79;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    transform: rotate(135deg);
}
.swiper-slide_image-button::after{
    content: "";
    position: absolute;
    width: 2px;
    height: 8px;
    right: 17px;
    bottom: 14px;
    background-color: #FF3E79;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    transform: rotate(45deg);
}

.slide--hidden{
    display: none;
}
.swiper-pagination{
    display: none;
}

button{
    position: relative;
    padding-left: 24px;
    font-family: 'TT Lakes';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

button::before{
    content: "";
    position: absolute;
    left: 0px;
    top: 5px;
    width: 8px;
    height: 11px;
    background-image: url('images/button.svg');
}

.button--open::before{
    transform: rotate(180deg);
}

@media (max-width: 767px) {
    .content{
        width: 320px;
    }
    .title {
        background: linear-gradient(90deg, #F8F8F8 1.39%, #FFFFFF 100%);
        height: 80px;
        padding: 0 16px;
    }
    .brands{
        padding: 16px 0 16px 16px;
    }
    .swiper-container{
        overflow: hidden;
    }
    .swiper-wrapper{
        display: grid;
        grid-template-columns: repeat(11, 240px);
        grid-template-rows: repeat(1, 72px);
        column-gap: 16px;
        padding-bottom: 16px;
    }

    .swiper-slide{
        box-sizing: border-box;
        width: 240px !important;
    }
   
    .swiper-pagination{
        display: block;
        position: static;
    }
    
    .swiper-pagination-bullet{
        height: 12px;
        width: 12px;
    }
    .swiper-pagination-bullet-active{
        background-color: #B5B6BC;
    }
    button{
        display: none;
    }
   
}

@media (min-width: 768px) and (max-width: 1119px) {
    .content{
        width:768px;
    }
    .title {
        padding: 0 24px;
        background: linear-gradient(90deg, #F8F8F8 1.39%, #FFFFFF 100%);
    }
    .brands{
        padding: 24px 24px;
    }
    .swiper-wrapper{
        display: grid;
        grid-template-columns: repeat(3, 224px);
        grid-template-rows: repeat(2, 72px);
        grid-auto-rows: 72px;
        column-gap: 24px;
        row-gap: 16px;
    }
    .slide--hidden{
        display: none;
    }


}*/